.man {
	color:purple;
}

.ti {
	color:red;
}

.on {
	color:yellow;
}

.to {
	color:orange;
}

.fr {
	color:green;
}

.lo {
	color:blue;
}

.so {
	color:pink;
}

.vi {
	color:lightblue;
}

.va {
	color:lightgreen;
}

.som {
	color:blue;
}

.ho {
	color:orange;
}